  <div class="my-cards">
<button class="deleteTrip btn" data-id={{id}}>Remove Trip <i class="fas fa-arrow-down"></i></button>
    <section class="userTrips" id="trip-card">
<a href='/dashboard/{{id}}' class="card-link">
      <h2 class="card-head">{{name}}</h2>
      <div class="card-body">
        <h4 class="trip-location">{{location}}</h4>
        <p class="trip-descrip">Description: {{description}}</p>
        <p class="trip-distance">Distance: {{distance_mi}} miles</p>
        <div class="trip-date">
        <p>Starts: <strong>{{starting_date}}</strong></p>
        <p>Ends: <strong>{{ending_date}}</strong></p>
        </div>
      </div>
</a>
    </section>
  </div>

<script src="/js/tripscript.js"></script>