<head>
    <link rel="stylesheet" href="/css/dash.css">
</head>

<div id="main-container">

    <div id="nav-bar">
        <ul class="navbar mobile-hide">
            <li class="nav-item">
                <a class="nav-link new-trip">New Trip</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/trips">{{userGear.username}}'s Trips</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/portal/logout">Logout</a>
            </li>
        </ul>
    </div>

    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-gearlight p-4">
            <a class="nav-link navbar-brand new-trip">New Trip</a>
            <a class="nav-link navbar-brand" href="/trips">{{userGear.username}}'s Trips</a>
            <a class="nav-link navbar-brand" href="/portal/logout">Logout</a>
        </div>
    </div>
    <nav class="navbar navbar-dark d-sm-block d-md-none">
        <div class="container-fluid">
            <button class="navbar-toggler align-right navbar-nav-scroll" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <p class="text-center">{{userGear.username}}'s Dashboard</p>
        </div>
    </nav>


    <div class="dashmain">
        <div id="userinput">
            <div class="gear-form">
                <form id="bag">
                    <h4 id="closetformheader">Fill your gear closet:</h4>
                    <div id="closet-inputs">
                        <div class="cat-box">
                            <label id="categories-label" for="categories">Category:</label>
                            <select name="categories" id="categories">
                                <option value="Shelter">Shelter</option>
                                <option value="Sleep System">Sleep System</option>
                                <option value="Clothing">Clothing</option>
                                <option value="Cooking/Hydration">Cooking/Hydration</option>
                                <option value="Safety/Navigation">Safety/Navigation</option>
                                <option value="Hygeine">Hygeine</option>
                                <option value="Electronics">Electronics</option>
                                <option value="Miscellaneous">Miscellaneous</option>
                            </select>
                        </div>
                        <br>
                        <input class="input-field" type="text" name="item" id="item" placeholder="Gear Name" required>
                        <br>
                        <input class="input-field" type="text" name="description" id="description"
                            placeholder="Description">
                        <br>
                        <input class="input-field" type="number" name="weight" id="weight" step=".01"
                            placeholder="Weight (oz)">
                        <br>
                        <input class="input-field" type="number" name="price" id="price" step=".01"
                            placeholder="Price ($)">
                        <br>
                    </div>
                    <div class="closet-button-div">
                        <button class="mybtn closet-button">Add to Closet</button>
                    </div>
                </form>

                <div class="gear-bank">
                    <h3 class='dashboardheader' id="bankheader">GEAR CLOSET</h3>
                    {{#each userGear as |gear|}}
                    <div class="gearitem addToTrip" data-id={{gear.id}}>
                        <div class='bankitem addToTrip' id='genname' data-id={{gear.id}}>{{gear.general_name}}</div>
                        <div class='bankitem addToTrip' id="prodname" data-id={{gear.id}}>{{gear.product_name}}</div>
                        <div class='bankitem hide' id='bankdescrip' data-id={{gear.id}}>{{gear.description}}</div>
                        <div class='bankitem addToTrip' id='bankweight' data-id={{gear.id}}>
                            [{{gear.weight_oz}} oz]
                            <button type="button" class="btn btn-outline-danger close" aria-label="Close"
                                data-id={{gear.id}}>
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
        <form id="tripForm">
            <h3 class='new-trip-header mobile-hide'>Start a new trip!</h3>
            <div id="trip-inputs">
                <h3 class='new-trip-header mobile-show'>Start a new trip!</h3>
                <input class="input-field2" type="text" name="name" id="name" placeholder="Trip name" required>
                <br>
                <input class="input-field2" type="text" name="location" id="location" placeholder="Trip Location"
                    required>
                <br>
                <input class="input-field2" type="text" name="tripdescription" id="tripdescription"
                    placeholder="Trip Description">
                <br>
                <input class="input-field2" type="datetime-local" name="startingdate" id="startingdate"
                    placeholder="Starting Date: YYYY/MM/DD" required>
                <br>
                <input class="input-field2" type="datetime-local" name="endingdate" id="endingdate"
                    placeholder="Ending Date: YYYY/MM/DD" required>
                <br>
                <input class="input-field2" type="number" name="distance" id="distance" placeholder="Distance (miles)"
                    required>
                <br>
                <button class='save-trip-btn mybtn'>Save Trip</button>
            </div>
        </form>

        <div class="second-box">
            <div class="card border-dark mb-3 trip-details currentTripBox" data-id={{currTrip.id}}>
                <div class="card-header">{{currTrip.name}}</div>
                <div class="card-body text-dark">
                    <h5 class="card-title">{{currTrip.location}}</h5>
                    <p class="card-text">Length: <strong>{{currTrip.distance_mi}} miles</strong></p>
                    <p class="card-text">Start Date: <strong>{{currTrip.starting_date}}</strong></p>
                    <p class="card-text">End Date: <strong>{{currTrip.ending_date}}</strong></p>
                </div>
            </div>
            <h3 class="tripLoadout">Trip Loadout</h3>
            <div id="trip-loadout-box">
                {{#each currTrip.GearItems as |gear|}}
                {{> loadout-gear}}
                {{/each}}
            </div>
        </div>


        <div id="chartSize">
            <h3 id="packTotal"></h3>
            <canvas id="myChart" width="150" height="150"></canvas>
            <iframe src="https://widgetscode.com/wc/uc/all?skin=blk0" style="width:320px;height:273px;margin:0;border:0"
                class="converter mobile-hide"></iframe>
        </div>

    </div>

    <script src="/js/dashscript.js"></script>
    <script src="/js/chart.js"></script>
</div>