<div id="main-container">

    <div id="side-nav">
        <ul class="side-bar">
            <li><a href="/trips">Trips</a></li>
            <button id='logoutbtn'>Logout</button>
        </ul>
    </div>


    <div class="dashmain">
        <div class="dash-heading">
            <h2 class="title">Welcome to GearWise</h2>
            <div id="chartSize">
                <canvas id="myChart" width="100" height="100"></canvas>
            </div>
        </div>


        <div id="userinput">

            <div class="gear-form">

                <form id="bag">
                    <h4>Fill your gear closet:</h4>
                    <input list='categories'>
                    <datalist name="categories" id="categories" placeholder="Category">
                        <option value="Shelter">
                        <option value="Sleep System">
                        <option value="Clothing">
                        <option value="Cooking/Hydration">
                        <option value="Safety/Navigation">
                        <option value="Hygeine">
                        <option value="Electronics">
                        <option value="Miscellaneous">
                    </datalist>
                    <br>
                    <input type="text" name="item" id="item" placeholder="Gear Name" required autofocus>
                    <br>
                    <input type="text" name="prodname" id="prodname" placeholder="Brand Product Name">
                    <br>
                    <input type="text" name="description" id="description" placeholder="Description">
                    <br>
                    <input type="number" name="weight" id="weight" step=".01" placeholder="Weight (oz)">
                    <br>
                    <input type="number" name="price" id="price" step=".01" placeholder="Price ($)">
                    <br>
                    <button>Add to Closet</button>
                </form>

                <div class="gear-bank">
                    <h3 class='dashboardheader' id="bankheader">My Gear Closet</h3>
                    <br>
                    {{#each userGear as |gear|}}
                    <div class="gearitem" data-id={{gear.id}}>
                        <p class='bankitem' id='genname'>{{gear.general_name}}</p>
                        <p class='bankitem' id="prodname">{{gear.product_name}}</p>
                        <br>
                        <button class="button deletebtn">X</button>
                        <button class="button addToTrip">+ to Trip</button>
                        <div class="break"></div>
                        <p class='bankitem' id='bankdescrip'>{{gear.description}}</p>
                        <p class='bankitem' id='bankweight'>[{{gear.weight_oz}} oz]</p>
                    </div>
                    {{/each}}
                </div>

            </div>


            <div class="third-box">
                <form id="tripForm">
                    <h3>Start a new trip!</h3>
                    <input type="text" name="name" id="name" placeholder="Trip name">
                    <br>
                    <input type="text" name="location" id="location" placeholder="Trip Location">
                    <br>
                    <input type="text" name="tripdescription" id="tripdescription" placeholder="Trip Description">
                    <br>
                    <input type="datetime-local" name="startingdate" id="startingdate"
                        placeholder="Starting Date: YYYY/MM/DD">
                    <br>
                    <input type="datetime-local" name="endingdate" id="endingdate"
                        placeholder="Ending Date: YYYY/MM/DD">
                    <br>
                    <input type="number" name="distance" id="distance" placeholder="Distance (miles)">
                    <br>
                    <button>Save Trip</button>
                </form>
                <div class="currentTripBox" data-id={{currTrip.id}}>
                    <h1>{{currTrip.name}}</h1>
                    <p>{{currTrip.location}}, {{currTrip.distance_mi}} miles</p>
                    <p><strong>{{currTrip.starting_date}}-{{currTrip.ending_date}}</strong></p>
                </div>
                <h3 class="tripLoadout">Trip Loadout</h3>
                {{#each currTrip.GearItems as |gear|}}
                <div class="tripitem" data-id={{gear.id}}>
                    <button class="removebtn" data-id={{gear.id}}>Remove</button>
                    <h4 id="generalName">{{gear.general_name}}</h4>
                    <p id="productName">{{gear.product_name}}</p>
                    <p id="description">{{gear.description}}</p>
                    <p id="weight">{{gear.weight_oz}} oz</p>
                    <br>
                </div>
                {{/each}}
            </div>
        </div>

        <div class="piechart-container">
            <div id="piechart"></div>
        </div>
    </div>

    <script src="/js/dashscript.js"></script>
    <script src="/js/chart.js"></script>
</div>