<head>
        <link rel="stylesheet" href="/css/dash.css">
</head>

<div id="main-container">

    <div id="nav-bar">
        <ul class="navbar">
            <p>Welcome To GearWise</p>
            <a href="/trips">Trips</a>
            <button id='logoutbtn'>Logout</button>
        </ul>
    </div>


<div class="dashmain">
        <div id="userinput">
            <div class="gear-form">
                <form id="bag">
                    <h4 id="closetformheader">Fill your gear closet:</h4>
                    <div id="closet-inputs">
                        <input class="closet-input" list='categories' placeholder="Category">
                        <datalist name="categories" id="categories">
                            <option value="Shelter">
                            <option value="Sleep System">
                            <option value="Clothing">
                            <option value="Cooking/Hydration">
                            <option value="Safety/Navigation">
                            <option value="Hygeine">
                            <option value="Electronics">
                            <option value="Miscellaneous">
                        </datalist>
                        <br>
                        <input class="input-field" type="text" name="item" id="item" placeholder="Gear Name" required autofocus>
                        <br>
                        <input class="input-field" type="text" name="prodname" id="prodname" placeholder="Brand Product Name">
                        <br>
                        <input class="input-field" type="text" name="description" id="description" placeholder="Description">
                        <br>
                        <input class="input-field" type="number" name="weight" id="weight" step=".01" placeholder="Weight (oz)">
                        <br>
                        <input class="input-field" type="number" name="price" id="price" step=".01" placeholder="Price ($)">
                        <br>
                    </div>
                    <button class="button closet-button">Add to Closet</button>
                </form>

                <div class="gear-bank">
                    <h3 class='dashboardheader' id="bankheader">My Gear Closet</h3>
                    <br>
                    {{#each userGear as |gear|}}
                    <div class="gearitem" data-id={{gear.id}}>
                        <p class='bankitem' id='genname'>{{gear.general_name}}</p>
                        <p class='bankitem' id="prodname">{{gear.product_name}}</p>
                        <br>
                        <button class="button deletebtn">X</button>
                        <button class="button addToTrip">+ to Trip</button>
                        <div class="break"></div>
                        <p class='bankitem' id='bankdescrip'>{{gear.description}}</p>
                        <p class='bankitem' id='bankweight'>[{{gear.weight_oz}} oz]</p>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>

        <div class="second-box">
            <form id="tripForm">
                <h3 class='new-trip-header'>Start a new trip!</h3>
                <div id="trip-inputs">
                    <input class="input-field2" type="text" name="name" id="name" placeholder="Trip name">
                    <br>
                    <input class="input-field2" type="text" name="location" id="location" placeholder="Trip Location">
                    <br>
                    <input class="input-field2" type="text" name="tripdescription" id="tripdescription" placeholder="Trip Description">
                    <br>
                    <input class="input-field2" type="datetime-local" name="startingdate" id="startingdate"
                        placeholder="Starting Date: YYYY/MM/DD">
                    <br>
                    <input class="input-field2" type="datetime-local" name="endingdate" id="endingdate" placeholder="Ending Date: YYYY/MM/DD">
                    <br>
                    <input class="input-field2" type="number" name="distance" id="distance" placeholder="Distance (miles)">
                    <br>
                <button class='save-trip-btn'>Save Trip</button>
                </div>
            </form>
            <div class="currentTripBox" data-id={{currTrip.id}}>
                <h1>{{currTrip.name}}</h1>
                <p>{{currTrip.location}}, {{currTrip.distance_mi}} miles</p>
                <p><strong>{{currTrip.starting_date}}-{{currTrip.ending_date}}</strong></p>
            </div>
            <h3 class="tripLoadout">Trip Loadout</h3>
            {{#each currTrip.GearItems as |gear|}}
            <div class="tripitem" data-id={{gear.id}}>
                <button class="removebtn" data-id={{gear.id}}>Remove</button>
                <h4 id="generalName">{{gear.general_name}}</h4>
                <p id="productName">{{gear.product_name}}</p>
                <p id="description">{{gear.description}}</p>
                <p id="weight">{{gear.weight_oz}} oz</p>
                <br>
            </div>
            {{/each}}
        </div>


        <div id="chartSize">
            <canvas id="myChart" width="100" height="100"></canvas>
        </div>
</div>


    <script src="/js/dashscript.js"></script>
    <script src="/js/chart.js"></script>