<head>
        <link rel="stylesheet" href="/css/dash.css">
</head>

<div id="main-container">

    <div id="nav-bar">
        <ul class="navbar">
            <p>Welcome To GearWise</p>
            <a class='navlinks' href="/trips">Trips</a>
            <a class='navlinks' href="/dashboard">New Trip</a>
            <button id='logoutbtn'>Logout</button>
        </ul>
    </div>


<div class="dashmain">
        <div id="userinput">
            <div class="gear-form">
                <form id="bag">
                    <h4 id="closetformheader">Fill your gear closet:</h4>
                    <div id="closet-inputs">
                        <div class="cat-box">
                            <label id="categories-label" for="categories">Category:</label>
                            <select name="categories" id="categories">
                                <option value="Shelter">Shelter</option>
                                <option value="Sleep System">Sleep System</option>
                                <option value="Clothing">Clothing</option>
                                <option value="Cooking/Hydration">Cooking/Hydration</option>
                                <option value="Safety/Navigation">Safety/Navigation</option>
                                <option value="Hygeine">Hygeine</option>
                                <option value="Electronics">Electronics</option>
                                <option value="Miscellaneous">Miscellaneous</option>
                            </select>
                        </div>
                        <br>
                        <input class="input-field" type="text" name="item" id="item" placeholder="Gear Name" required autofocus>
                        <br>
                        <input class="input-field" type="text" name="description" id="description" placeholder="Description">
                        <br>
                        <input class="input-field" type="number" name="weight" id="weight" step=".01" placeholder="Weight (oz)">
                        <br>
                        <input class="input-field" type="number" name="price" id="price" step=".01" placeholder="Price ($)">
                        <br>
                    </div>
                    <button class="btn closet-button">Add to Closet</button>
                </form>

                <div class="gear-bank">
                    <h3 class='dashboardheader' id="bankheader">My Gear Closet</h3>
                    <br>
                    {{#each userGear as |gear|}}
                    <div class="gearitem" data-id={{gear.id}}>
                        <div class='bankitem' id='genname'>{{gear.general_name}}</div>
                        <div class='bankitem' id="prodname">{{gear.product_name}}</div>
                        <div class='bankitem hide' id='bankdescrip'>{{gear.description}}</div>
                        <div class='bankitem' id='bankweight' data-id={{gear.id}}>
                            [{{gear.weight_oz}} oz]
                            {{!-- Make the icon bigger, and if you click the icon, it adds the trip --}}
                            <button class="btn addToTrip"><i class="fas fa-hiking"></i></button>
                            <button class="deletebtn"><i class="fas fa-times-circle"></i></button>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>

        <div class="second-box">
            <form id="tripForm">
                <h3 class='new-trip-header'>Start a new trip!</h3>
                <div id="trip-inputs">
                    <input class="input-field2" type="text" name="name" id="name" placeholder="Trip name" required>
                    <br>
                    <input class="input-field2" type="text" name="location" id="location" placeholder="Trip Location" required>
                    <br>
                    <input class="input-field2" type="text" name="tripdescription" id="tripdescription" placeholder="Trip Description">
                    <br>
                    <input class="input-field2" type="datetime-local" name="startingdate" id="startingdate"
                        placeholder="Starting Date: YYYY/MM/DD" required>
                    <br>
                    <input class="input-field2" type="datetime-local" name="endingdate" id="endingdate" placeholder="Ending Date: YYYY/MM/DD" required>
                    <br>
                    <input class="input-field2" type="number" name="distance" id="distance" placeholder="Distance (miles)" required>
                    <br>
                <button class='save-trip-btn btn'>Save Trip</button>
                </div>
            </form>
            <div class="currentTripBox" data-id={{currTrip.id}}>
                <h1 id="trip-name">{{currTrip.name}}</h1>
                <p id="trip-location">{{currTrip.location}}</p>
                <div id="trip-dets">
                    <div id="left-dets">
                        <p>Length:   <strong>{{currTrip.distance_mi}} miles</strong></p>
                        <p>Start Date:  <strong>{{currTrip.starting_date}}</strong></p>
                        <p>End Date:  <strong>{{currTrip.ending_date}}</strong></p>
                    </div>
                    <div id="right-dets">
                        <p id="trip-descr">{{currTrip.description}}</p>
                    </div>
                </div>
            </div>
            <h3 class="tripLoadout">Trip Loadout</h3>
            <div id="trip-loadout-box">
                {{#each currTrip.GearItems as |gear|}}
                <div class="tripitem" data-id={{gear.id}}>
                    <h4 class="trip-item-detail" id="generalName">{{gear.general_name}}</h4>
                    <div class="trip-item-name-descr">
                        <p class="trip-item-detail" id="productName">{{gear.product_name}}</p>
                        <p class="trip-item-detail" id="itemdescription">{{gear.description}}</p>
                    </div>
                    <p class="trip-item-detail" id="weightoz">{{gear.weight_oz}} oz</p>
                    <button class="removebtn" data-id={{gear.id}}>Remove</button>
                </div>
                {{/each}}
            </div>
        </div>


        <div id="chartSize">
            <h3 id="packTotal"></h3>
            <canvas id="myChart" width="150" height="150"></canvas>
           <iframe src="https://widgetscode.com/wc/uc/all?skin=blk0" style="width:320px;height:273px;margin:0;border:0"></iframe>
        </div>
        
</div>


    <script src="/js/dashscript.js"></script>
    <script src="/js/chart.js"></script>
</div>